[data-md-color-scheme="my-custom"] {

    /* Primary color shades */
    --md-primary-fg-color:               rgb(50, 78, 255);
    --md-primary-fg-color--light:        rgb(255, 255, 255);
    --md-primary-fg-color--dark:         rgb(255, 255, 255);
    --md-primary-bg-color:               rgb(255, 255, 255);
    --md-primary-bg-color--light:        rgb(255, 255, 255);
  
    /* Accent color shades */
    --md-accent-fg-color:                rgb(255, 170, 0);
    --md-accent-fg-color--transparent:   rgb(255, 255, 255);
    --md-accent-bg-color:                rgb(255, 0, 0);
    --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);
}

[data-md-color-scheme="slate-custom"] {
  --md-hue: 210; 
}
